@import 'tailwindcss';

@font-face {
  font-family: 'New Icon Script';
  src: url('/fonts/new-icon-script-regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/fahkwang/Fahkwang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/fahkwang/Fahkwang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/fahkwang/Fahkwang-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@theme inline {
  --font-decorative: 'New Icon Script', ui-sans-serif, system-ui;
  --font-inter: 'Inter', ui-sans-serif, system-ui;
  --font-fahk: 'Fahkwang', ui-serif, Georgia;

  --color-background: #EFEBE3;
  --color-header: #F4F0E7;
}